//Varaibles para colores , tamaño de fuente y tamaño de div

//COLORS
$deepBlue: #2683cf;
$offWhite: #f3f2f7;
$offWhiteDarken: #d5d6da;
$strongYellow: #d1ff05, #038d03, #c90f0f, #38038d;
$key: random(length($strongYellow));
$randomColor: rgb(random(255), random(255), random(255));

//SIZES
$avatarSize: 50px;
